@import 'reset'
@import 'variables'


// ## Cores ## //

// CTA

// Fundo do "Balão"
$tooltipBackgroundColor = #FFF

// Sombra do Balão
$tooltipShadow = 0 0 10px 0 rgba(#000, .2)

// Título
$ctaTitleColor = green

// Texto chamada "Balão"
$ctaTextColor = #e1e1e1

// Botão de Confirmação
$confirmButtonBackground = green
$confirmButtonColor = #FFF
$confirmButtonHoverBackground = darken(green, 10)
$confirmButtonHoverColor = #FFF
$confirmButtonBorderColor = green
$confirmButtonHoverBorderColor = darken(green, 10)

// Botão de "esconder" o CTA
$hideCtaBackground = #FFF
$hideCtaColor = green
$hideCtaBorderColor = lighten(green, 20)

// Fundo do botao / ícone de telefone
$phoneIconBackground = green
$phoneIconBackgroundWave = rgba(green .3)
$phoneIconColor = #FFF

// Overlay e Corpo do Form

// Overlay
$overlayBackground = rgba(green, .8)

// Botão de Fechar o Overlay
$closeButtonColor = #FFF

// Corpo do Formulário
$formWrapperBackground = #FFF
$formWrapperBackgroundShadow = 0 0 10px 0 rgba(#000, .2)
$formWrapperBorderColor = green

// Título do formulario
$formTitleColor = #000

// Ícones / Botões
$icons = green
$iconsActive = darken(green, 10)

// Selecionadores
$switchButtonsBackground = #58595b
$switchButtonsBackgroundActive = darken($switchButtonsBackground, 10)
$switchButtonsColor = #FFF
$switchButtonsColorActive = #FFF
$switchButtonBorderColor = green

// Campos
$fieldBorderColor = #000
$fieldBackgroundColor = #FFF

// Botão de Envio
$submitButtonBorderColor = #000
$submitButtonBorderColorHover = #000
$submitButtonBackgroundColor = green
$submitButtonBackgroundColorHover = darken($submitButtonBackgroundColor, 10)
$submitButtonColor = #FFF
$submitButtonColorHover = #FFF

// "Bolinha" de número de "ligadores"
$callerNumberBackground = red

// Texto das chamadas dentro do form
$innerFormTextColor = #58595b



// #### Tamanhos, border-radius, Margens #### //


// Tamanho do Botão de Fechar
$closeButtonSize = 22px

// Tamanho máximo da Caixa dos Forms
$formWrapperMaxWidth = 500px

// Altura mínima da caixa dos Forms
$formWrapperMinHeight = 400px

// Borda do Wrapper
$formWrapperBorderWidth = 2px

// Botões de seleção
$switchButtonHeight = 50px
$switchButtonFontSize = 11px
$switchButtonBorderWidth = 2px

// Padding dos formulários
$formsPadding = 35px 0

// Largura máxima da caixa dos campos
$fieldBoxMaxWidth = 300px

// Tamanho do Título do "Balão"
$ctaTitleSize = 20px

// Tamanho da chamadinha do "Balão"
$ctaTextSize = 12px

// Bordas no botão de esconder o CTA
$hideCtaBorderWidth = 1px

// Tamanho das Fontes internas das chamadas
$formTitleFont = 20px
$formTitleVariantFont = 32px

// Altura dos Campos, Largura das Bordas, tamanho dos ícones
$fieldHeight = 42px
$fieldBiggerHeight = 82px
$fieldBorderWidth = 2px
$fieldIconSize = 14px
$fieldSpacing = 10px
$fieldSpacingDouble = 20px

// Altura do Botão de Enviar, Largura da borda
$submitButtonHeight = $fieldHeight
$submitButtonBorderWidth = 2px

// Altura do Botão de Enviar, Largura da borda
$confirmButtonHeight = 30px
$confirmButtonBorderWidth = 2px

// Border radius (será aplicado nos campos, no wrapper e no botão de enviar)
$borderRadius = 0

// ## Transições ## //
$transitionOperator = all .3s ease-in-out


/**
#############################################################
#############################################################
### EM 99% DOS CASOS, VOCÊ NÃO PRECISA EDITAR NADA ABAIXO ###
#############################################################
#############################################################
**/

// TODO: Animação de entrada do form

// "Roubado" do Animate.css
// @see https://daneden.github.io/animate.css/

// @keyframes bounceInUp {
//   from,
//   60%,
//   75%,
//   90%,
//   to {
// 	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
//   }

//   from {
// 	opacity: 0
// 	transform: translate3d(0, 3000px, 0)
//   }

//   60% {
// 	opacity: 1
// 	transform: translate3d(0, -20px, 0)
//   }

//   75% {
// 	transform: translate3d(0, 10px, 0)
//   }

//   90% {
// 	transform: translate3d(0, -5px, 0)
//   }

//   to {
// 	transform: translate3d(0, 0, 0)
//   }
// }

// Utilidades:

.full
	width 100%
	display block

.flexed
	display flex

.row
	flex-flow row wrap

.spaced
	justify-content: space-between

.centered
	align-items: center


// Wrapper geral do CTA
.cta-open-wrapper
	position fixed
	bottom 30px
	right 15px
	z-index 10
	text-align center

	@media $small-desktop-minmax
		bottom 15px

// Balão
.cta-tooltip
	width 130px
	padding 22px 14px 19px 14px
	position relative
	background-color $tooltipBackgroundColor
	box-shadow $tooltipShadow
	margin-bottom 25px
	transition all .4s ease-in-out
	transform translateY(20px)
	opacity 0
	visibility hidden

	&:after
		content ''
		display block
		top 100%
		left 50%
		border solid transparent
		height 0
		width 0
		position absolute
		border-color transparent
		border-top-color $tooltipBackgroundColor
		border-width 10px
		margin-left -10px

// Textos do Balão
.cta-main-title
	color $ctaTitleColor
	font-size $ctaTitleSize
	margin-bottom 10px

.cta-main-text
	color $ctaTextColor
	font-size $ctaTextSize
	margin-bottom 15px

// Botão do Balão
.cta-open
	color $confirmButtonColor
	background-color $confirmButtonBackground

	&:hover
		background-color $ctaButtonHoverBackground
		color $ctaButtonHoverColor

// Ícone de Telefone

.phone-icon
	background-color $phoneIconBackground
	box-shadow 0 0 0 7px $phoneIconBackgroundWave
	font-size 20px
	width 45px
	height 45px
	border-radius 50%
	margin-left auto
	margin-right auto
	border 0
	position relative

	i, img
		color $phoneIconColor
		position absolute
		left 0
		right 0
		margin auto
		top 50%
		transform translateY(-50%)

	&:after
		content attr(data-notifications)
		padding 3px 6px
		font-size 12px
		color #FFF
		background-color red
		border-radius 50%
		position absolute
		top -6px
		right -6px

// Botão de esconder "Balão"
.cta-hide-tooltip
	position absolute
	top -8px
	right -8px
	border-radius 50%
	font-size 16px
	border $hideCtaBorderWidth solid $hideCtaBorderColor
	background-color $hideCtaBackground
	color $hideCtaColor

// Botão de Confirmação (abrir o CTA)
.cta-open
	width 100%
	height $confirmButtonHeight
	border $confirmButtonBorderWidth solid $confirmButtonBorderColor
	color $confirmButtonColor
	background-color $confirmButtonBackground
	transition $transitionOperator

	&:hover
		background-color $confirmButtonHoverBackground
		color $confirmButtonHoverColor
		border-color $confirmButtonHoverBorderColor

// Overlay
.cta-overlay
	background-color $overlayBackground
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	z-index 11
	display none

// Wrapper dos forms
.cta-form-wrapper-all
	position absolute
	left 0
	right 0
	margin auto
	top 50%
	width 100%
	transform translateY(-50%)
	max-width $formWrapperMaxWidth
	background-color $formWrapperBackground
	box-shadow $formWrapperBackgroundShadow
	border-style solid
	min-height $formWrapperMinHeight
	border-width $formWrapperBorderWidth
	border-color $formWrapperBorderColor
	border-radius $borderRadius


	.half
		width 47.5%

	// &.animate-open
	// 	animation-name bounceInUp
	// 	animation-duration 1s
	// 	animation-delay .3s
	// 	animation-iteration-count 1

// Wrapper dos selecionadores
.form-pickers
	@extend .flexed, .row, .centered

// Selecionadores de Formulário
.form-picker
	width 33.333%
	min-height $switchButtonHeight
	font-size $switchButtonFontSize
	background-color $switchButtonsBackground
	color $switchButtonsColor
	border 0
	border-style solid
	border-bottom-width $switchButtonBorderWidth
	border-color $switchButtonBorderColor
	font-size $switchButtonFontSize
	transition: $transitionOperator

	&:nth-of-type(2)
		border-left-width $switchButtonBorderWidth
		border-right-width $switchButtonBorderWidth

	i
		color $icons
		margin-right 8px

	&.active, &:hover
		background-color $switchButtonsBackgroundActive
		color $switchButtonsColorActive

// Classe geral dos forms
.cta-form
	padding $formsPadding

	&:not(.active)
		display none


.form-title
	font-size: $formTitleFont
	color $formTitleColor
	margin-bottom $fieldSpacingDouble
	text-align center

	span
		font-size: $formTitleVariantFont

// Fieldset e "caixa" dos Campos
.field-box
	max-width $fieldBoxMaxWidth
	margin-left auto
	margin-right auto

// Label wrapper dos campos
.field-wrapper
	display block

	&.has-icon
		position relative

		i
			color $icons
			position absolute
			left 13px
			font-size $fieldIconSize
			top 50%
			transform translateY(-50%)

	& + .field-wrapper:not(.half)
		margin-top $fieldSpacing

// Campos
.cta-field
	width 100%
	background-color $fieldBackgroundColor
	border-style solid
	border-color $fieldBorderColor
	border-width $fieldBorderWidth
	border-radius $borderRadius

	&:not(textarea)
		height $fieldHeight

	&.has-icon
		padding-left 40px

textarea.cta-field
	height $fieldBiggerHeight

// Botão de Enviar
.submit-cta
	background-color $submitButtonBackgroundColor
	border-style solid
	border-width $submitButtonBorderWidth
	border-color $submitButtonBorderColor
	height $fieldHeight
	color $submitButtonColor
	width 100%
	margin-top $fieldSpacing
	transition $transitionOperator
	border-radius: $borderRadius

	&:hover
		background-color $submitButtonBackgroundColorHover
		border-color $submitButtonBorderColorHover
		color $submitButtonColorHover

// Botão de Fechar o CTA
.close-cta-overlay
	color $closeButtonColor
	font-size $closeButtonSize
	border 0
	padding 0
	background transparent
	position absolute
	top 10px
	right 10px


.cta-shown
	.cta-tooltip
		transform translateY(0px)
		opacity 1
		visibility visible